*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
}
.logo{
  margin: 10px;
  
}
.logo img{
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.logo h1{
  font-size: 40px;
  color: #800000;
  text-align: center;
  margin-bottom: 30px;
}

marquee {
       font-size: 50px;
}
#marqueeA{
  font-size: 40px;
  text-decoration: none;
 
}

.nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: PaleVioletRed;
 
         font-size: 100%
}
.nav li{
        float: left;
}
.nav a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        margin-left: 4px;
}
.nav li a:hover {
        background-color: white;
        color: black;
}
img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 30px;
}
h2 {
       color: #800000;
       
       font-size: 30px;
       margin-left: 30px;
}
p {
      color: #000000;
      text-align: justify;
      font-size: 20px;
      margin: 10px 30px;
      margin-bottom: 50px;
}
a {
       font-size: 20px;
       color: brown;
       text-decoration: none;
}
 
ol {
       margin: 10px 50px;
       font-size: 20px;
}
ul {
       margin: 10px 50px;
       font-size: 20px;
}
caption {
       font-size: 200%;
}
table{
  margin: 80px;
}
#information {
        border-collapse: collapse;
        width: 80%;
}
#information td, #information th {
        border: 1px solid #111;
        padding:8px;
       text-align: center;
       font-size: 150%;
}
#information tr:nth-child(even) {background-color:#ffcccc
;}
#information tr:nth-child(odd) {background-color:#ffe6e6
;}
#information tr:hover {background-color: #867979;}
#information th {
        padding: 12px;
        text-align: center;
        background-color: #ac5353 ;
        color: white;
        font-size: 150%;
}
 
